* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

.navbar {
  background-color: #000024;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  position: relative;
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: #f6f8f8;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.8rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: rgb(133, 132, 130);
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  height: 2px;
  width: 25px;
  background: white;
  margin: 2px 0;
  transition: 0.4s;
}

.about {
  max-width: 100vw;
  height: 80vh;
  margin-top: 3rem;
}

.profile {
  max-width: 90%;
  display: flex;
  justify-content: center;
}

.profileImg {
  max-width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.profileImg img {
  max-width: 70%;
}

.profileText {
  max-width: 50%;
  padding: 2rem 1rem;
}

.profileText h5 {
  font-size: 40px;
  color: rgb(133, 132, 130);
  margin: 8px 0;
}

.profileText h3 {
  font-size: 30px;
  margin: 4px 0;
  color: rgb(133, 132, 130);
}

.profileText h3 span {
  color: rgb(0, 0, 0);
}

.profileText p {
  color: rgb(133, 132, 130);
  margin: 4px 0;
}

.profileText .buttons {
  display: flex;
  flex-direction: column;
  width: 150px;
  gap: 8px;
}

.buttons .profileBtn {
  padding: 8px 4px;
  border: none;
  width: 155px;
  transition: 0.3s ease;
  cursor: pointer;
  background-color: rgb(216, 215, 213);
}

.buttons .profileBtn:hover {
  background-color: #eaeaec;
  transform: scale(1.1);
}

.services {
  max-width: 100vw;
}

.heading {
  font-size: 2rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
  display: flex;
  font-weight: 600;
  margin: 0 0 0 4.5rem;
}

.service {
  max-width: 90%;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.serve {
  position: relative;
  padding: 10px 10px;
  width: 100%;
  height: 170px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgb(211, 210, 210);
  z-index: 1;
}

.serve p {
  font-size: 13px;
}

.serve::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgb(171, 169, 169);
  z-index: -1;
  transition: height 0.5s ease;
}

.serve:hover::before {
  height: 100%;
}

.skills {
  max-width: 100vw;
  height: auto;
}
.skill {
  max-width: 90%;
  display: flex;
  margin: auto;
  gap: 20px;
}

.skill .firstSkill {
  max-width: 40vw;
  line-height: 1.5rem;
}

.skill .secondSkill {
  width: 60vw;
  line-height: 2rem;
}

.firstSkill .design {
  display: flex;
  max-width: 95%;
}

.skillLogo i {
  font-size: 2rem;
  margin: auto 2rem;
}

.skillText p {
  font-size: 0.7rem;
  margin: 10px 0;
  color: rgb(53, 52, 52);
}

.firstSkill .design {
  margin: 1rem 0;
}

.secondSkill progress {
  width: 70%;
  height: 1rem;
  margin: 0 10px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
}

progress::-webkit-progress-bar {
  background-color: #dbd8d8;
  border-radius: 35px;
}

progress::-webkit-progress-value {
  background-color: rgb(56, 55, 55);
  border-radius: 35px;
}

.secondSkill .cen {
  text-align: centr;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

.proText button a {
  text-decoration: none;
  color: white;
}
.cen label {
  display: block;
  font-weight: bold;
}

.project {
  width: 100vw;
  min-height: 100vh;
}

.projects {
  display: flex;
  width: 90%;
  justify-content: center;
  margin: auto;
  gap: 2rem;
}

.projectOne {
  width: 23%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  background-color: #fbfbfb;
  border: 0.5px solid black;
  box-shadow: -10px 6px 13px rgba(48, 62, 30, 10.1);
  transition: transform 0.3s ease;
}

.projectOne:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.projectOne img {
  max-width: 80%;
  margin: 2rem auto;
  border: 0.5px solid black;
}

.proText {
  margin: 10px;
}

.proText button {
  padding: 8px 15px;
  background-color: black;
  color: white;
  border: none;
  margin: 1rem 0;
}
.proText p {
  font-size: 0.8rem;
}

.contact {
  width: 100vw;
  min-height: 100vh;
}

.contactSection {
  margin: auto;
  display: flex;
  width: 90%;
  gap: 2rem;
  margin-top: 2rem;
}

.address {
  width: 25%;
}
.contactPage {
  width: 50%;
  height: auto;
}

.loca {
  text-align: center;
  padding: 1rem 0;
}

.loca i {
  font-size: 3rem;
  display: block;
}

.loca p {
  font-size: 13px;
}

.group {
  width: 90%;
  height: 3rem;
}

.group input {
  width: 90%;
  padding: 2px;
  margin-top: 1rem;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.contactPage h1 {
  margin-top: 2rem;
  font-size: 2.5rem;
}

.contactPage p {
  font-size: 0.8rem;
  margin: 5px 0;
}

.group textarea {
  width: 50%;
  padding: 2px;
  resize: none;
  border: none;
  margin-top: 1rem;
  border-bottom: 1px solid black;
  outline: none;
}

.subBtn {
  padding: 6px 15px;
  margin: 1.5rem 0;
  background-color: #fbfbfb;
  border: 0.5px solid black;
  box-shadow: -10px 6px 13px rgba(48, 62, 30, 10.1);
}

.subBtn:hover {
  transform: scale(1.1);
}

.info {
  width: 25%;
  height: auto;
}
.inf {
  display: grid;
  place-content: center;
  padding: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.inf img {
  max-width: 70%;
  margin:auto;
  border-radius: 100%;
}

.socialLink {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: auto;
}

.socialLink i {
  font-size: 1.5rem;
  margin-top: 1rem;
  transition: 0.3s ease;
}

.inf h3 {
  margin: 0.5rem;
  color: rgb(88, 87, 87);
}

.socialLink i:hover {
  transform: scale(1.3);
}

.socialLink i:nth-child(1) {
  color: red;
}

.socialLink i:nth-child(2) {
  color: rgb(255, 9, 169);
}

.socialLink i:nth-child(3) {
  color: rgb(0, 89, 255);
}

.socialLink i:nth-child(4) {
  color: rgb(0, 106, 255);
}

.socialLink i:nth-child(5) {
  color: red;
}

.inf p {
  text-align: none;
  font-size: 0.8rem;
  margin: 10px 0;
}

.changing-text {
  font-size: 1.2rem;
  color:  rgb(7, 35, 160);
  font-weight: 900;
  margin: 0.5rem 0;
}